### Practical Questions:

### 1.Write a code to create a string with your name and print it.

In [1]:
my_name="Chandana Siddha"
print(my_name)
print(type(my_name))

Chandana Siddha
<class 'str'>

### 2.Write a code to find the length of the string "Hello World"

In [3]:
string="Hello World"
print(string)
len(string) # len() defines the length of the value in variable.

Hello World

11

### 3.Write a code to slice the first 3 characters from the string "Python Programming"

In [4]:
my_string = "Python Programming"
# Slice the first 3 characters
first_three_chars = my_string[:3]
# Print the sliced characters
print("The first 3 characters are:", first_three_chars)

The first 3 characters are: Pyt

### 4.Write a code to convert the string "hello" to uppercase.

In [5]:
string="hello"
convert_string= string.upper()
print("The uppercase conversion of hello is:",convert_string)

The uppercase conversion of hello is: HELLO

### 5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [6]:
string = "I like apple"
# Replace "apple" with "orange"
new_string = string.replace("apple", "orange")
# Print the new string
print("The new string is:", new_string)

The new string is: I like orange

### 6.Write a code to create a list with numbers 1 to 5 and print it.

In [7]:
def createList(r1, r2):
    return list(range(r1, r2+1))

r1, r2 = 1, 5
print(createList(r1, r2))

[1, 2, 3, 4, 5]

### 7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [9]:
my_list = [1, 2, 3, 4]
# Append the number 10 to the list
my_list.append(10)
print("The appended list is:", my_list)

The appended list is: [1, 2, 3, 4, 10]

### 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [11]:
my_list = [1, 2, 3, 4, 5]
# Remove the number 3 from the list
my_list.remove(3)
print("The new list is:", my_list)

The new list is: [1, 2, 4, 5]

### 9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [12]:
my_list = ['a', 'b', 'c', 'd']
# Access the second element (index 1)
second_element = my_list[1]
print("The second element is:", second_element)

The second element is: b

### 10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [14]:
my_list = ['a', 'b', 'c', 'd']
# Reverse the list
reversed_list = my_list[::-1]
print("The reversed list is:", reversed_list)

The reversed list is: ['d', 'c', 'b', 'a']

### 11.Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [15]:
# Create a tuple with elements 10, 20, and 30
my_tuple = (10, 20, 30)
print("The tuple is:", my_tuple)

The tuple is: (10, 20, 30)

### 12.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [16]:
# Create the tuple
my_tuple = ('apple', 'banana', 'cherry')

# Access the first element (index 0)
first_element = my_tuple[0]
print("The first element is:", first_element)

The first element is: apple

### 13.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [17]:
# Create the tuple
my_tuple = (1, 2, 3, 2, 4, 2)

# Count how many times the number 2 appears in the tuple
count_of_twos = my_tuple.count(2)

print("The number 2 appears", count_of_twos, "times in the tuple")

The number 2 appears 3 times in the tuple

### 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [18]:
# Create the tuple
my_tuple = ('dog', 'cat', 'rabbit')

# Find the index of the element "cat"
index_of_cat = my_tuple.index('cat')

print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

### 15.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [19]:
my_tuple = ('apple', 'orange', 'banana')

# Check if "banana" is in the tuple
is_banana_in_tuple = 'banana' in my_tuple

print("Is 'banana' in the tuple?", is_banana_in_tuple)

Is 'banana' in the tuple? True

### 16.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [24]:
# Create a set with elements 1, 2, 3, 4, 5
my_set = {1, 2, 3, 4, 5}
print("The set is:", my_set)
print(type(my_set))

The set is: {1, 2, 3, 4, 5}
<class 'set'>

### 17.Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [21]:
# Create the set
my_set = {1, 2, 3, 4}
# Add the element 6 to the set
my_set.add(6)
print("The new set is:", my_set)

The new set is: {1, 2, 3, 4, 6}

### 18.Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [23]:
# Create a tuple with elements 10, 20, 30
my_tuple = (10, 20, 30)

print("The tuple is:", my_tuple)
print(type(my_tuple))

The tuple is: (10, 20, 30)
<class 'tuple'>

### 19.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [25]:
# Create the tuple
my_tuple = ('apple', 'banana', 'cherry')

# Access the first element (index 0)
first_element = my_tuple[0]

print("The first element is:", first_element)

The first element is: apple

### 20.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [26]:
my_tuple = (1, 2, 3, 2, 4, 2)

# Count how many times the number 2 appears in the tuple
count_of_twos = my_tuple.count(2)
print("The number 2 appears", count_of_twos, "times in the tuple")

The number 2 appears 3 times in the tuple

### 21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [27]:
# Create the tuple
my_tuple = ('dog', 'cat', 'rabbit')

# Find the index of the element "cat"
index_of_cat = my_tuple.index('cat')

print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

### 22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [28]:
my_tuple = ('apple', 'orange', 'banana')

# Check if "banana" is in the tuple
is_banana_in_tuple = 'banana' in my_tuple

print("Is 'banana' in the tuple?", is_banana_in_tuple)

Is 'banana' in the tuple? True

### 23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [29]:
# Create a set with elements 1, 2, 3, 4, 5
my_set = {1, 2, 3, 4, 5}
print("The set is:", my_set)
print(type(my_set))

The set is: {1, 2, 3, 4, 5}
<class 'set'>

### 24. Write a code to add the element 6 to the set {1, 2, 3, 4}

In [30]:
# Create the set
my_set = {1, 2, 3, 4}
# Add the element 6 to the set
my_set.add(6)
print("The new set is:", my_set)

The new set is: {1, 2, 3, 4, 6}